* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body {
  margin: 0;
  padding: 0;
  font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
    ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
  background-color: darkslategray;
}

/*Page Layout*/ 
.columns {
    display: flex;
    flex-wrap: wrap;
}

.wrapper {
  display: flex;
}

.container {
  max-width: 960px;
  margin-top: 25px;
}

/*Lab 5 works*/
.labs {
  background-color: hsl(184, 100%, 61%);
  width: auto;
  padding: 25px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
  border-radius: 5px;
  justify-content: flex-start;
}

.xbody {
  display: flex;
  flex-direction: row;
}

.forms {
  background-color: #F6F7F8;
  border: 1px solid #D6D9DC;
  width: 400px;
  padding: 50px;
  margin-top: 25px;
  border-radius: 3px;
  margin-left: 300px;
}

.description {
  background-color: hsl(184, 100%, 61%);
  width: 400px;
  height: 70px;
  padding: 25px;
  row-gap: 30px;
  margin-top: 200px;
  margin-left: 25px;
  border-radius: 5px;
  justify-content: center;
}

.names {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  flex-direction: column;
  justify-content: flex-start;
}

.names input[type='text'] {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  width: 100%;
  padding: 7px;
  font-size: 14px;
  border-radius: 3px;
}

.names label {
  margin-bottom: 15px;
}

.preferences {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  flex-direction: column;
  justify-content: flex-start;
}

.preferences input[type='text'] {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  width: 100%;
  padding: 7px;
  font-size: 14px;
  border-radius: 3px;
}

.preferences label {
  margin-bottom: 15px;
}

.options{
  border: none;
  margin-bottom: 40px;
}

.options legend {
  margin-bottom: 15px;
}

.options .radio-label {
  display: block;
  font-size: 14px;
  padding: 0 20px 0 10px;
}

.options input[type='radio'] {
  margin-top: 2px;
}
  
.options .radio-label,
.options input[type='radio'] {
  float: left;
}

.forms button {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #59da59;
  border: none;
  border-radius: 3px;
  padding: 10px 40px;
  cursor: pointer;
}

.forms button:hover {
  background-color: #76ed86;
}

.forms button:active {
  background-color: #40c740;
}

@media only screen and (max-width: 400px) {
  .labs {
    width: 80%;
  }

  .xbody {
    flex-direction: column;
  }

  .description {
    align-self: center;
  }
}
